<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggzed.im.mapper.TableInfoMapper">

    <select id="queryList" resultType="com.ggzed.im.model.dto.DbmTableInfoDto" parameterType="String">
        <if test="databaseType == 'mysql'">
            select
                table_name,
                table_schema,
                table_comment as comments,
                create_time tableCreateDate,
                update_time tableUpdateDate
            from
                information_schema.tables
            where
                table_schema = (select database())
        </if>
    </select>
</mapper>